<div class="page-container">

  <h1>sign in</h1>

  <%= render :partial => 'form' %>

  <div class="info-container">

    <p>don't have an account? sign up <%= link_to "here", new_user_path %>.</p>
    
  </div>

</div>
